/*main*/
@font-face {
  font-family: 'GmarketSans';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'GmarketSans';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GmarketSans';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

html, body {
  font-family: 'Roboto', 'GmarketSans'; }

header {
  position: fixed;
  width: 100%;
  height: 52px;
  left: 0;
  top: 0;
  z-index: 999;
  color: white; }
  header h1 {
    margin: 0;
    color: #353535;
    -webkit-text-stroke: 1px #353535; }
  header img {
    height: 40px; }
  header a {
    color: #353535;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300; }
  header .sns_wrap {
    position: absolute;
    right: 5%;
    top: 0;
    height: 52px;
    display: inline-flex;
    align-items: center; }
    header .sns_wrap a {
      text-decoration: none;
      color: #353535;
      font-size: 24px;
      margin-left: 16px; }

.text-basicColor {
  color: #353535; }

.text-beige {
  color: #fffaf2; }

article {
  background-color: #fffaf2; }

#main h1 {
  font-weight: 900; }

#main .display-1.text-uppsercase {
  -webkit-text-stroke: 1px #353535; }

#main .about_title {
  min-height: 100vh;
  position: relative; }
  #main .about_title h1.text-uppercase {
    -webkit-text-stroke: 2px #353535; }

.browser_wrap {
  max-width: 1000px;
  padding-bottom: 56.25%;
  position: relative;
  margin: 30px auto; }
  .browser_wrap .browser {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset; }
  .browser_wrap .browser_tab {
    background-color: #475558;
    padding: 16px 16px 0; }
    .browser_wrap .browser_tab .tab {
      display: flex;
      list-style: none;
      margin-bottom: 0; }
      .browser_wrap .browser_tab .tab li {
        background: #efefef;
        padding: 4px 10px 0;
        color: #808285;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        margin-right: 1px; }
        .browser_wrap .browser_tab .tab li a {
          color: #bcbec0;
          text-decoration: none; }
        .browser_wrap .browser_tab .tab li.active {
          background: #fff; }
          .browser_wrap .browser_tab .tab li.active a {
            color: #475558; }
    .browser_wrap .browser_tab .circle {
      display: inline-block;
      width: 12px;
      height: 12px;
      margin-right: 4px;
      border-radius: 50%; }
      .browser_wrap .browser_tab .circle.red {
        background-color: #e76a58; }
      .browser_wrap .browser_tab .circle.yellow {
        background-color: #fec052; }
      .browser_wrap .browser_tab .circle.green {
        background-color: #81d154; }
  .browser_wrap .address_bar {
    padding: 10px 20px;
    background-color: #efefef; }
    .browser_wrap .address_bar i {
      margin-right: 8px; }
    .browser_wrap .address_bar .search-bar {
      background-color: white;
      padding: 4px 8px;
      border-radius: 2px;
      flex: 1 1; }
  .browser_wrap .contents {
    background-color: white;
    overflow: auto;
    flex: 1 1; }
