/*main*/
@font-face {
  font-family: 'GmarketSans';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'GmarketSans';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GmarketSans';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

button,
input[type="button"] {
  background-color: white; }

.btn {
  text-decoration: none;
  border-radius: 0px; }
  .btn.btn-size-md {
    padding: 8px 32px; }
  .btn.btn-default {
    color: white;
    background-color: #353535;
    border: 1px solid #353535; }
    .btn.btn-default:hover, .btn.btn-default:active, .btn.btn-default:focus {
      background: #000;
      border-color: #000; }
  .btn.btn-default-outline {
    color: #353535;
    background-color: transparent;
    border: 1px solid #353535; }
    .btn.btn-default-outline:hover, .btn.btn-default-outline:active, .btn.btn-default-outline:focus {
      background: #353535;
      color: white;
      opacity: 0.8; }
  .btn.btn-red {
    color: white;
    background-color: #f0122d;
    border: 1px solid #f0122d; }
    .btn.btn-red:hover, .btn.btn-red:active, .btn.btn-red:focus {
      background: #c30c23;
      border-color: #c30c23; }
  .btn.btn-red-outline {
    color: #f0122d;
    background-color: transparent;
    border: 1px solid #f0122d; }
    .btn.btn-red-outline:hover, .btn.btn-red-outline:active, .btn.btn-red-outline:focus {
      background: #f0122d;
      color: white;
      opacity: 0.8; }
  .btn.btn-yellow {
    color: #353535;
    background-color: #facc43;
    border: 1px solid #facc43; }
    .btn.btn-yellow:hover, .btn.btn-yellow:active, .btn.btn-yellow:focus {
      background: #f9bf11;
      border-color: #f9bf11; }
  .btn.btn-yellow-outline {
    color: #facc43;
    background-color: transparent;
    border: 1px solid #facc43; }
    .btn.btn-yellow-outline:hover, .btn.btn-yellow-outline:active, .btn.btn-yellow-outline:focus {
      background: #facc43;
      color: white;
      opacity: 0.8; }
  .btn.btn-blue {
    color: white;
    background-color: #0092c0;
    border: 1px solid #0092c0; }
    .btn.btn-blue:hover, .btn.btn-blue:active, .btn.btn-blue:focus {
      background: #006b8d;
      border-color: #006b8d; }
  .btn.btn-blue-outline {
    color: #0092c0;
    background-color: transparent;
    border: 1px solid #0092c0; }
    .btn.btn-blue-outline:hover, .btn.btn-blue-outline:active, .btn.btn-blue-outline:focus {
      background: #0092c0;
      color: white;
      opacity: 0.8; }
  .btn.btn-beige {
    color: #353535;
    background-color: #fffaf2;
    border: 1px solid #fffaf2; }
    .btn.btn-beige:hover, .btn.btn-beige:active, .btn.btn-beige:focus {
      background: #ffe6bf;
      border-color: #ffe6bf; }
  .btn.btn-beige-outline {
    color: #fffaf2;
    background-color: transparent;
    border: 1px solid #fffaf2; }
    .btn.btn-beige-outline:hover, .btn.btn-beige-outline:active, .btn.btn-beige-outline:focus {
      background: #fffaf2;
      color: #353535;
      opacity: 0.8; }

html,
body {
  color: #353535;
  font-family: 'Roboto', 'GmarketSans'; }

header {
  position: fixed;
  width: 100%;
  height: 60px;
  left: 0;
  top: 0;
  z-index: 999;
  color: white; }
  header .container-fluid {
    height: 100%;
    padding: 0 5.4%; }
  header nav {
    height: 100%; }
  header h1 {
    margin: 0;
    color: #353535;
    font-size: 28px;
    -webkit-text-stroke: 1px #353535; }
  header a {
    color: #353535;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400; }
    header a:hover {
      color: #353535; }
    header a.active, header a:active {
      text-decoration: underline;
      text-underline-position: under; }
    header a i {
      color: #353535;
      font-size: 24px; }

.text-basicColor {
  color: #353535; }

.text-beige {
  color: #fffaf2; }

.text-red {
  color: #f0122d; }

.text-yellow {
  color: #facc43; }

.text-navy {
  color: #001964; }

.text-blue {
  color: #0092c0; }

.text-stroke-gray {
  font-size: calc(2.125rem + 8vw);
  -webkit-text-stroke: 1px #dee2e6;
  color: transparent; }

article {
  background-color: #fffaf2;
  padding-bottom: 100px; }
  article .container {
    max-width: 1000px; }

.scroll-to-bottom {
  opacity: 0;
  position: fixed;
  left: calc(50% - 18px);
  bottom: 30px;
  z-index: 11;
  font-size: 36px;
  color: #fffaf2;
  -webkit-animation: action 1s infinite alternate;
  animation: action 1s infinite alternate; }

.back-to-top {
  opacity: 0;
  position: fixed;
  width: 30px;
  text-align: center;
  right: 30px;
  bottom: 30px;
  z-index: 11;
  -webkit-animation: action 1s infinite alternate;
  animation: action 1s infinite alternate; }

@-webkit-keyframes action {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-15px); } }

@keyframes action {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-15px); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

#main h1 {
  font-weight: 900; }

#main .display-1.text-uppsercase {
  -webkit-text-stroke: 1px white; }

#main .typed-cursor {
  color: #fffaf2;
  font-weight: 100; }

#main .about_title {
  min-height: 100vh;
  position: relative;
  background: #353535;
  color: #fffaf2; }
  #main .about_title h1 .text-uppercase {
    -webkit-text-stroke: 2px #fffaf2; }

#main .about_me {
  padding-top: 80px;
  padding-bottom: 100px; }
  #main .about_me .img-wrap {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden; }
    #main .about_me .img-wrap:after {
      display: block;
      padding-bottom: 100%;
      content: ""; }
    #main .about_me .img-wrap .profile_img {
      position: absolute;
      left: 0;
      top: -33%; }
  #main .about_me h6 {
    margin-bottom: 0; }
    #main .about_me h6 a {
      color: #0092c0; }

#main .qualification {
  padding-top: 80px;
  padding-bottom: 100px; }

#main .portfolio {
  padding-top: 80px;
  padding-bottom: 100px; }
  #main .portfolio .portfolio_container {
    display: grid; }
    #main .portfolio .portfolio_container .item-1:nth-of-type(1) {
      grid-column: 1/2;
      grid-row: 1/2; }
    #main .portfolio .portfolio_container .item-1:nth-of-type(2) {
      grid-column: 2/3;
      grid-row: 1/2; }
    #main .portfolio .portfolio_container .item-1:nth-of-type(3) {
      grid-column: 1/2;
      grid-row: 2/3; }
    #main .portfolio .portfolio_container .item-1:nth-of-type(4) {
      grid-column: 2/3;
      grid-row: 2/3; }
    #main .portfolio .portfolio_container .item-2 {
      grid-column: 3/5;
      grid-row: 1/3; }
  #main .portfolio .portfolio_item {
    position: relative;
    overflow: hidden;
    display: block; }
    #main .portfolio .portfolio_item .portfolio_item_hover {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 100%;
      background-color: rgba(53, 53, 53, 0.8);
      -webkit-transform: translate(-100%);
      transform: translate(-100%);
      opacity: 0;
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out; }
      #main .portfolio .portfolio_item .portfolio_item_hover .item_info {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        padding: 10px;
        width: 100%;
        font-weight: bold; }
        #main .portfolio .portfolio_item .portfolio_item_hover .item_info span {
          display: block;
          color: #fff;
          font-size: 18px;
          -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
          -webkit-transition: all .2s ease-in-out .2s;
          transition: all .2s ease-in-out .2s;
          opacity: 0; }
        #main .portfolio .portfolio_item .portfolio_item_hover .item_info em {
          font-style: normal;
          display: inline-block;
          background-color: #0092c0;
          padding: 8px 16px;
          color: white;
          margin-top: 10px;
          -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
          -webkit-transition: all .3s ease-in-out .3s;
          transition: all .3s ease-in-out .3s;
          opacity: 0;
          font-size: 14px; }
    #main .portfolio .portfolio_item:hover .portfolio_item_hover {
      opacity: 1;
      -webkit-transform: translateX(0);
      transform: translateX(0); }
    #main .portfolio .portfolio_item:hover .item_info em, #main .portfolio .portfolio_item:hover .item_info span {
      opacity: 1;
      -webkit-transform: translateX(0);
      transform: translateX(0); }

.browser_wrap {
  max-width: 1000px;
  padding-bottom: 56.25%;
  position: relative;
  margin: 30px auto; }
  .browser_wrap .browser {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset; }
  .browser_wrap .browser_tab {
    background-color: #475558;
    padding: 16px 16px 0; }
    .browser_wrap .browser_tab .tab {
      display: flex;
      list-style: none;
      margin-bottom: 0; }
      .browser_wrap .browser_tab .tab li {
        background: #efefef;
        padding: 4px 10px 0;
        color: #808285;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        margin-right: 1px; }
        .browser_wrap .browser_tab .tab li a {
          color: #bcbec0;
          text-decoration: none; }
        .browser_wrap .browser_tab .tab li.active {
          background: #fff; }
          .browser_wrap .browser_tab .tab li.active a {
            color: #475558; }
    .browser_wrap .browser_tab .circle {
      display: inline-block;
      width: 12px;
      height: 12px;
      margin-right: 4px;
      border-radius: 50%; }
      .browser_wrap .browser_tab .circle.red {
        background-color: #e76a58; }
      .browser_wrap .browser_tab .circle.yellow {
        background-color: #fec052; }
      .browser_wrap .browser_tab .circle.green {
        background-color: #81d154; }
  .browser_wrap .address_bar {
    padding: 10px 20px;
    background-color: #efefef; }
    .browser_wrap .address_bar i {
      margin-right: 8px; }
    .browser_wrap .address_bar .search-bar {
      background-color: white;
      padding: 4px 8px;
      border-radius: 2px;
      flex: 1 1; }
  .browser_wrap .contents {
    background-color: white;
    overflow: auto;
    flex: 1 1; }
